2to3==1.0
asgiref==3.5.1
astroid==2.11.7
autopep8==1.7.0
CacheControl==0.12.11
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
dill==0.3.5.1
Django==4.0.4
django-environ==0.8.1
djangorestframework==3.13.1
firebase-admin==5.4.0
google-api-core==2.7.3
google-api-python-client==2.47.0
google-auth==2.6.6
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-firestore==2.5.3
google-cloud-storage==2.5.0
google-crc32c==1.5.0
google-resumable-media==2.4.0
googleapis-common-protos==1.56.0
grpcio==1.49.1
grpcio-status==1.48.2
httplib2==0.20.4
idna==3.3
isort==5.10.1
lazy-object-proxy==1.7.1
logilab-astng==0.24.3
logilab-common==1.9.7
mccabe==0.7.0
msgpack==1.0.4
mypy-extensions==0.4.3
Pillow==9.2.0
platformdirs==2.5.2
proto-plus==1.22.1
protobuf==3.20.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.9.1
pylint==2.14.5
pylint-django==2.5.3
pylint-plugin-utils==0.7
pyparsing==3.0.8
pytz==2022.1
requests==2.27.1
rsa==4.8
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.4
typing_extensions==4.3.0
uritemplate==4.1.1
urllib3==1.26.9
wrapt==1.14.1
